.outstring {
   width: 600px;
   height: auto;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

.set {
   margin-left: auto;
   margin-right: auto;
   margin-top: 300px;
   width: 400px;
   height: 400px;
   background-color: white;
   border-radius: 40px;
}

.divrepeat {
   width: 700px;
   margin-top: 0px;
   max-height: 90vh;
   overflow: auto;
}

.status {
   height: 20px;
   width: 20px;
   display: inline-block;
}

body {
   margin-left: 0%;
   margin-top: 0%;
   overflow: hidden;
}

.back {
   margin-top: 0%;
   height: 100%;
   width: 100%;
   position: absolute;
   background-color: black;
   opacity: 0.7;
}

.exit {
   border-width: 0px;
   background-color: white;
   background-position: contain;
   margin-top: 0px;
   width: 40px;
   border-radius: 16px;
   margin-left: 340px;
   background-size: contain;
   height: 40px;
   display: inline-block;
   background-image: url(~./resources/exit.png);
}

.delete {
   border-width: 0px;
   background-color: white;
   background-position: contain;
   margin-top: 0px;
   width: 20px;
   height: 20px;
   display: inline-block;
   background-image: url(~./resources/delete.png);
}

.center {
   margin-left: auto;
   margin-right: auto;
   max-width: 20%;
}

.setting {
   border-width: 0px;
   margin-left: 25px;
   margin-right: auto;
   margin-top: 0px;
   height: 30px;
   width: 30px;
   display: inline-block;
   background-image: url(~./resources/settings.png);
   background-size: contain;
}

.reset {
   border-width: 0px;
   background-color: white;
   background-position: contain;
   margin-top: 0px;
   width: 20px;
   height: 20px;
   display: inline-block;
   background-image: url(~./resources/reset.png);
}

.labelname {
   font-weight: bold;
   position: absolute;
   width: 400px;
   text-align: center;
   font-size: 18px;
   margin-top: 60px;
}

.lang {
   font-weight: bold;
   position: relative;
   text-align: center;
   display: block;
   font-size: 18px;
   margin-top: 100px;
}

.hello {
   text-align: center;
   font-weight: bold;
}

.cancelbutton {
   margin-top: 4px;
   font-size: 18px;
}

.okbutton {
   margin-top: 4px;
   font-size: 18px;
}

.inputname {
   font-size: 20px;
   text-align: center;
   margin-left: 90px;
   margin-top: 100px;
}

.inputform {
   height: 2%;
   width: 700px;
   display: inline-block;
}