.outstring {
   width: 600px;
   height: auto;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
   
}
.divrepeat {
   width: 700px;
   max-height: 95vh;
   overflow: auto;
}
.status {
   height: 20px;
   width: 20px;
   display: inline-block;
}
.delete {
   border-width: 0px;
   background-color: white;
   background-position: contain;
   margin-top: 0px;
   width: 20px; /* Width of new image */
   height: 20px; /* Height of new image */
   display: inline-block;
   background-image: url(~./resources/delete.png);
}
.reset{
   border-width: 0px;
   background-color: white;
   background-position: contain;
   margin-top: 0px;
   width: 20px;
   height: 20px;
   display: inline-block;
   background-image: url(~./resources/reset.png);
}
.inputform {
   height: 5vh;
   width: 700px;
}