<list-filter-component on-change="$ctrl.submitFilter(text, color)"></list-filter-component>
<div class="divrepeat">
    <div ng-repeat="object in $ctrl.textlist | filter: {color : $ctrl.searchColor}| filter: {text : $ctrl.searchText} track by $index">
        <div class="status" ng-style="{'background-color': object.color}" title="{{object.color | translate}}"></div>
        <div class="outstring">{{object.label}}</div>
        <button class="reset" title="{{'reset' | translate}}" ng-click="$ctrl.reset($index)"></button>
        <button class="delete" ng-click="$ctrl.delete($index)" title="{{'remove' | translate}}"></button>
    </div>
    <div ng-if="!($ctrl.textlist.length)">{{'noelements' | translate}}</div>
</div>