<div id="divrepeat">
    <div ng-repeat="object in $ctrl.textlist track by $index">
        <div id="status" ng-style="{'background-color': object.color, 'display': 'inline-block'}"
            title="{{object.color | translate}}"></div>
        <span ng-switch on="(object.text | digitFilter).length">
            <div id="outstring" ng-switch-when="0">{{"This string contains only symbols." | translate}}</div>
            <div id="outstring" ng-switch-default>{{object.text | digitFilter}}</div>
        </span>
        <div id="reset" title="{{'reset' | translate}}" ng-click="$ctrl.reset($index)"></div>
        <div id="delete" ng-click="$ctrl.remove($index)" title="{{'remove' | translate}}"></div>
    </div>
    <div ng-show="!($ctrl.textlist.length)">{{'noelements' | translate}}</div>
</div>