<setting-component ng-if="$ctrl.settingDisplay" display="$ctrl.settingDisplay" name="$ctrl.welcome"
    on-change="$ctrl.changeLanguage(lang)" langs="$ctrl.languages" current="$ctrl.currentLanguage"></setting-component>
<div class="center">
    <div class="hello"><span translate="hello"></span> {{$ctrl.welcome}}!</div>
    <form class="inputform">
        <input-component class="inputline" on-create="$ctrl.createObject(input)"></input-component>
        <button class="setting" ng-click="$ctrl.display()"></button>
    </form>
</div>
<center>
    <output-component class="output" textlist="$ctrl.textlist" on-delete="$ctrl.removeObject(index)"
        on-reset="$ctrl.resetObject(index)" ng-selected="$ctrl.current"></output-component>
</center>